{% extends "headers.html" %}

{% block body %}
    <div class="container"><h1>Settings</h1></div>
    <div class="container"
         style="background-color: white; border-radius: 5px;">
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for("general") }}">General</a></li>
            <li><a href="{{ url_for("security") }}">Security and Login</a></li>
            <li class="active"><a href="">Email and notification</a></li>
            <li ><a href="{{ url_for("interesting_info") }}">Interesting info</a></li>
        </ul>
    </div>

{% endblock %}