{% extends "headers.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="wrapper">
            <form class="form-signin niceOrange" method=post>
                <h2 class="form-signin-heading">Please login</h2>
                <label>Email</label>
                <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                <input type="text" class="form-control" name="username" placeholder="Email Address, username" required=""
                       autofocus=""/>
                </div>
                <label style="margin-top: 10px;">Password</label>
                <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                </div>
                <label>
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" value=Login type="submit">Login</button>

            </form>
            <p style="text-align: center; color:#2B2B2B;">Not got an account?<a class="btn btn-link"
                                                                                            href="{{ url_for("register") }}">Register</a>
        </div>
    </div>
{% endblock %}