{% extends "headers.html" %}

{% block body %}



    <div class="container">
        <div class="wrapper">
            {% from "_formhelpers.html" import render_field %}
            <form class="form-signin niceOrange" method=post action="/register/">
                <h2 class="form-signin-heading">Register</h2>
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <dl>
                    {{ render_field(form.username, class="form-control", placeholder="Username") }}
                    {{ render_field(form.email, class="form-control", placeholder="Email") }}
                    {{ render_field(form.password, class="form-control", placeholder="Password") }}
                    {{ render_field(form.confirm, class="form-control", placeholder="Confirm") }}
                    {{ render_field(form.accept_tos) }}
                    {{ render_field(form.recaptcha) }}
                </dl>
                <button class="btn btn-lg btn-primary btn-block" value=Login type="submit">Join</button>

            </form>
            <p style="text-align: center; color:#2B2B2B;">Already got an account?<a class="btn btn-link"
                                                                                            href="{{ url_for("login") }}">Login</a>


            {% if error %}
                <p class="error"><strong>Error:</strong>{{ error }}</p>
            {% endif %}

        </div>
    </div>


{% endblock %}
